// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../node_modules/bulma/sass/utilities/functions.sass';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// 2. Set your own initial variables
// Update blue
$blue: #2c3d55;
$red: #f15b66;

$primary: $red;

$family-primary: 'Inter', sans-serif;

// 3. Import the rest of Bulma
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/buefy/src/scss/buefy.scss';
